.contactContainer{
      width: 100vw;
      min-height: 100vh;
      background-color: #000000e8;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 1rem;
      box-sizing: border-box;
}

form{
      display: flex;
      width: 400px;
      height: 60vh;
      flex-direction: column;
      background-color: rgba(54, 54, 53, 0.788);
      padding: 20px;
      border-radius: 20px;
      gap: 15px;
      justify-content: center;
      align-items: center;
}

input, textarea{
      background-color: transparent;
      width: 300px;
      border: 1px solid transparent;
      border-bottom: 1px solid black;
      padding: 4px;
      font-family: "Inter", sans-serif;
      color: beige;
}

textarea{
      height: 100px;
}

.sendBtn{
      width: 150px;
      height: 35px;
      background-color:rgb(6, 191, 237);
      border: none;
      border-radius: 15px;
      color: #fff;
      font-weight: 600S;
      font-family: "Inter", sans-serif;
      cursor: pointer;
}

.sendBtn:hover{
      background-color: #00bcd4;
      transform: scale(1.05);
}

.textForms{
      color: #fff;
      font-size: 22px;
      padding-bottom: 30px;
      text-align: center;
      font-family: "Inter", sans-serif;

}

@media (max-width: 400px) {
      input, textarea{
            width: 200px;
      }

      form{
            width: 250px;
      }
}