*{
      margin: 0;
      padding: 0;
}

nav{
      display: flex;
      width: 100vw;
      height: 70px;
      position: fixed;
      z-index: 1;
}

.navItens{
      display: flex;
      width: 100%;
      justify-content: center;
      height: 100%;
      gap: 30px;
      padding-top: 15px;
}

.navLink{
      text-decoration: none;
      color: #ffffff;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      padding-inline: 15px;
      padding-block: 15px;
}

.navLink img{
      display: none;
}

.navLink:hover{
      color: rgb(6, 191, 237);
}

@media (max-width: 571px) {
      .navLink{
            display: flex;
            font-size: 12px;
            flex-direction: column;
            gap: 15px;
            align-items: center;
      }

      .navLink img{
            display: flex;
            width: 24px;
      }
}

@media (max-width: 446px) {
      .navItens{
            gap: 10px;
      }
}